@import url('https://fonts.googleapis.com/css?family=Roboto');

.home-container {
    flex: 1;
    background-color: #eee;
    margin-top: 2px;
}
.content-container {
    flex: 1;
    padding: 25px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.active-users {
}
.page-summary-font {
    color: #eee;
    margin: 0;
    font-family: 'Roboto';
}
.title-active {
    font-size: 15px;
}
.value-active {
    font-size: 35px;
}
.page-views {
}
.title-view {
    font-size: 11.5px;
    margin-bottom: 2px;
}